@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
 
  min-height: 100vh;
  background-color: #d2dae2;
  font-family: roboto;
}

.navigation{
  position: relative;
  width: 430px;
  height: 70px;
  background-color: #1e272e;
  border-radius: 10px;
}

 .navigation ul{
  display: flex;
  width: 350px;
}

 .navigation ul li{
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;

}

.navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s ease;
  color: #fff;
}

ul li.active a .icon{
  transform: translateY(-32px);
}

 .navigation li a .text{
  position: absolute;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  transition: 0.5s;
  opacity: 0.3;
  transform: translateY(20px);
  text-transform: capitalize;
}

  ul li :active a .text{
  opacity: 1;
  transform: translateY(10px);
}

.indicator{
  position: absolute;
  top: -50%;
  width: 60px;
  height: 60px;
  background-color: #0097e6;
  border-radius: 50%;
  border: 6px solid #d2dae2;
  transition: 0.5s;

}

.indicator::before{
  content: '';
  position: absolute;
  top: 50%;
  left: -22px;
  
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 30px;
  box-shadow: 1px -10px 0 0 #d2dae2;
}

.indicator::after{
  content: '';
  position: absolute;
  top: 50%;
  right: -22px;
 
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-left-radius: 30px;
  box-shadow: 1px -10px 0 0 #d2dae2;
}

.navigation ul li:nth-child(1).active~.indicator{
  transform: translateX(calc(70px*0));
}

.navigation ul li:nth-child(2).active~.indicator{
  transform: translateX(calc(70px*1));
}

.navigation ul li:nth-child(3).active~.indicator{
  transform: translateX(calc(70px*2));
}
.navigation ul li:nth-child(4).active~.indicator{
  transform: translateX(calc(70px*3));
}
.navigation ul li:nth-child(5).active~.indicator{
  transform: translateX(calc(70px*4));
}
